body,
.card,
.modal-body,
.modal-header,
.modal-footer {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

button.btn {
    background-color: var(--vscode-button-background);
    border: none;
    color: var(--vscode-inputOption-activeForeground);
    height: 30px !important;
    padding: 0px 8px !important;
    font-size: var(--vscode-editor-font-size);
    font-weight: normal !important;
}

button.btn:hover {
    background-color: var(--vscode-button-hoverBackground);
    color: white;
    border: none;
}

hr {
    background-color: var(--vscode-menu-separatorBackground);
}

.form-check {
    padding-left: 2.5em;
}