body,
.card,
.modal-body,
.modal-header,
.modal-footer {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

.table {
    background-color: white !important;
}

.table th,
.table td {
    border-right: 1px solid gray !important;
}

button.btn.browseBtn {
    height: 38px !important;
}

button.btn {
    background-color: var(--vscode-button-background);
    border: none;
    color: var(--vscode-inputOption-activeForeground);
    height: 30px !important;
    padding: 0px 8px !important;
    min-width: 85px !important;
    font-weight: normal !important;
}

button.btn:hover {
    background-color: var(--vscode-button-hoverBackground) !important;
    color: white !important;
}

.closeBtn {
    cursor: pointer !important;
}